html {
    font-size: 62.5%;
    font-family: Tahoma,sans-serif;
}

/* Font sizing with rem http://snook.ca/archives/html_and_css/font-size-with-rem */
/*body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input,button, textarea, p, blockquote, th, td, hr {margin: 0;padding: 0;}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.333;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

input, textarea, select, button {
    font-size: 12px;
    font-weight: normal;
    font-family: inherit;
}

input[type="button"], input[type="submit"], select, button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

fieldset, img, a img, iframe {
    border-width: 0;
    border-style: none;
}

textarea {
    resize: vertical;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/** TmTool **/
body {
    width: 100%;
    height: 100%;
    background: #F5F6F8;
    -webkit-user-select: none;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    height: 12px;
    overflow: visible;
    width: 12px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 0;
    background:#f5f5f5;
}

::-webkit-scrollbar-track:horizontal {
    border-width: 0 0 0
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.08)
}

::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: inset 1px -1px 0 rgba(0, 0, 0, 0.1), inset -1px 1px 0 rgba(0, 0, 0, 0.05);
    width:16px !important;
}

::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset -1px 1px 0 rgba(0, 0, 0, 0.1), inset 1px -1px 0 rgba(0, 0, 0, 0.05)
}

::-webkit-scrollbar-track:vertical:hover {
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.05)
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0;
    min-height: 20px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.08), inset -1px -1px 0 rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1)
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 0 0 0;
    padding: 0 0 0 100px;
    box-shadow: inset -1px 1px 0 rgba(0, 0, 0, 0.1), inset 1px -1px 0 rgba(0, 0, 0, 0.07)
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2)
}

::-webkit-scrollbar-corner {
    background: transparent
}

* {
    -webkit-box-sizing: border-box;
}

/* icon */
.icon {
    display: inline-block;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #313437;
}

.collapsed-sidebar .sidebar{
    width:36px;
}

.collapsed-sidebar .sidebar-title,
.collapsed-sidebar .sidebar-list {
    display:none;
}

.sidebar-shadow {
    width: 12px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/sidebar-shadow.png) repeat-x;
    z-index: 2;
}

.sidebar-title {
    color: #c2c2c2;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    text-indent: 15px;
    letter-spacing: 0.05em;
    font-size: 14px;
}

.sidebar-list {

}
.sidebar-item {
    height: 42px;
    padding-left: 15px;
    color: #7F7F7F;
    position: relative;
    transition:background-color 200ms ease, color 200ms ease;
}

.sidebar-name {
    line-height: 38px;
    overflow: hidden;
    letter-spacing: 0.1em;
}

.sidebar-item:hover {
    background: #262729;
    color:#ccc;
}

.sidebar-item_current,
.sidebar-item_current:hover {
    background: #EF4C79;
    color: #fff;
}

.sidebar-item_current:before {
    background: #fff;
}

.sidebar-item:hover {
    cursor: pointer;
}

.sidebar-item:hover .controls {
    visibility: visible;
    opacity: 1;
}

.sidebar-toggle {
    outline:0;
    border:0;
    background:transparent;
    float:right;
    padding:10px;
    margin-top:4px;
    color:#5c5d5f;
    transition:color 200ms;
}
.sidebar-toggle span {
    width:16px;
    height:16px;
}

.sidebar-toggle:hover {
    color:#fff;
}

.collapsed-sidebar .sidebar-toggle .left,
.sidebar-toggle .right {
    display:none;
}

.sidebar-toggle .left,
.collapsed-sidebar .sidebar-toggle .right {
    display:inline-block;
}

.controls {
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 12px;
    opacity: 0;
}

.controls-item {
    color: rgba(255,255,255, 0.7);
    width: 20px;
    height: 20px;
    display: inline-block;
    outline:0;
    border:0;
    background: transparent;
    transition: background-color 200ms ease, color 200ms ease;
    border-radius: 4px;
}

.controls-item:hover {
    color:#fff;
    background:rgba(0,0,0,0.5);
}

/************
 *  mod-project
 **************/
.task-tab {
    background: #F5F6F8;
    margin-left: 200px;
    height: 100%;
    overflow: hidden;
}

.collapsed-sidebar .task-tab {
    margin-left:36px;
}

/************
 *  mod-task
 **************/
.tasks {
    height: 100%;
    overflow-y: auto;
}

.tasks-item {
    margin: 10px;
    box-shadow: 2px 2px 3px #d3d3d3;
    background: #fff;
    padding: 10px 15px;
    font-size: 13px;
    position: relative;
    color: #7F7F7F;
}

.tasks-item_running,
.tasks-item_error {
    background-color: #ddd;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-animation: progress-bar-stripes 0.7s linear infinite;
    background-size: 40px 40px;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.tasks-item_error {
    background-color: #d9534f;
    -webkit-animation: none;
    color: #fff;
}

.tasks-item-name {
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}

.tasks-item-info {
    font-size: 85%;
    color: #C0C0C0;
    display: block;
}

.tasks-actions {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.tasks-action-item {
    float: left;
    font-size: 18px;
    padding: 0 2px;
    color: #c5c5c5;
    cursor: pointer;
    transition:color 200ms ease;
}
.tasks-item_running .tasks-action-item {
    color:#9C9C9C;
}
.tasks-item_running .tasks-action-item:hover,
.tasks-action-item:hover {
    color:#ea587e;
}

/********
 * console
 ***********/
.console {
    font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", "Microsoft Yahei", monospace;
    font-size: 12px;
    line-height: 1.4em;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.85);
    color: #93A1A1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.icon-project {
    width:16px;
    height:16px;
    vertical-align: text-top;
    margin-right:5px;
}