<div id="tasks_<%=id%>" data-id="<%=id%>" class="task-list">
    <% for (var i = 0; i < tasks.length; i++ ) { %>
    <!--task-list__item_running-->
    <div id="task_item_<%=id%>_<%=tasks[i].name%>" class="task-list__item JS-Task-Toggle-Info" title="<%=tasks[i].info%>">
        <span class="task-list__item-name"><%=tasks[i].name%></span>
        <span class="task-list__item-info" style="display:none"><%=tasks[i].info%></span>
        <div class="task-list__actions">
            <span style="display: none" class="task-list__action-item task-list__action-item_terminal JS-Task-Terminal" data-project-id="<%=id%>" data-task-name="<%=tasks[i].name%>" title="Terminal"></span>
            <span style="display: block" class="task-list__action-item task-list__action-item_run JS-Task-Run" data-project-id="<%=id%>" data-task-name="<%=tasks[i].name%>" title="Run"></span>
            <span style="display: none" class="task-list__action-item task-list__action-item_stop JS-Task-Stop" data-project-id="<%=id%>" data-task-name="<%=tasks[i].name%>" title="Stop"></span>
        </div>
    </div>
    <pre id="console_<%=id%>_<%=tasks[i].name%>" class="JS-Console console"></pre>
    <% } %>
</div>
